<div class='centered-text ctitle' style='padding-bottom:10px;'>Asignar Turno</div>

<form class='ui createShift form' onsubmit="return false;">
    <div class="ui error message"></div>
    <% var selectPosition = "Posición";
    var selectEmployee = "Asignar a";
    var submit = "Crear";
    var toggleOff = "Una vez";
    var toggleOn = "Recurrente" %>

    <%= include ../../util/formModules/selectPosition.ejs %>

    <%= include ../../util/formModules/selectEmployee.ejs %>

    <%= include ../../util/formModules/setTime.ejs %>

    <div class='shiftInfo centered-text'></div><br>
    <%= include ../../util/formModules/toggle.ejs %>

    <div class='recurring hidden'>
        <div class='fields' style='padding-bottom:10px;'>
            <label class='five wide field right-justified vcentered'></label>
            <div class='eleven wide field createInputs'>
                <div class='inverted black ui mini button lastButton'>Ultima Ocurrencia</div>
            </div>
        </div>

        <%= include ../../util/formModules/setDate.ejs %>
        
    </div>
    <%= include ../../util/formModules/cancelSubmit.ejs %>
</form>